.banner {
    background-image: url('../images/header.jpg');
}

.problem-tag {
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}

.choose {
    background-color: #5bc0de;
}

.right {
    float: right;
}

.cl {
    margin: 10px;
    padding: 10px;
}

span.warning{
    color: red;
}