
.problem-section {
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.problem-detail {
    font-size: 15px;
}

.problem-detail div {
    margin-top: 10px;
}

#loading-gif {
    width: 40px;
    height: 40px;
    display: none;
}

#result {
    margin-top: 10px;
}

#result .result-box {
    display: none;
    padding: 8px;
    margin-bottom: 18px;
    border-radius: 2px;
    font-weight: bold;
}

#result .result-box.success {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #85c5e5;
}

#result .result-box.failed {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #d59595;
}

.w4 {
    width: 40%;
    float: left;
}